@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

p {
  white-space: pre-wrap;
}

form {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  margin: 2rem;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;

  input {
    width: 600px;
  }
}

.health-check {
  border: 1px solid #ccc;
  border-radius: 8px;
}

.ai-response {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: scroll;
  text-align: left;
}
